<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head></head>
  <body>
    <p>Hello <%= @invitation.name.blank? ? "Investor" : @invitation.name %>,</p>
    <p>
      First off, we're EXCITED that you have made a decision to find success in Real Estate.<br/>
      Below you will find your unique pass code for you and your guest.<br/>
      <br/>
      <b><%= @invitation.code %></b><br/>
      <br/>
      Please store this in a safe place, as you will need it to register for the event.<br/>
      Make sure you go here right away to register as we fill up fast and once all spots are taken registration is closed:<br/>

      <a href='http://www.strategicinvestortraining.com/registration?code=<%= @invitation.code %>'>http://www.strategicinvestortraining.com/registration?code=<%= @invitation.code %></a> 
    </p>

    <p>
      Please make sure to fill in the QUICK questionnaire and to REGISTER YOUR GUEST as well.<br/>
      It's always good to bring someone with you but if you don't have anyone...don't worry just bring yourself!<br/>
      We look forward to spending 3 Power Packed Days with You!
    </p>

    <p>
      Live abundantly,<br/>
      Darius &amp; Hugo<br/>
      The Innovative Investors
    </p>
  </body>
</html>